{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ order['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST">
        <label for="order_type">Order Type</label>
        <select name="order_type" id="order_type" value="{{ request.form['order_type'] or order['order_type'] }}" required>
            <option value="special order">Special Order</option>
            <option value="rain check">Rain Check</option>
          </select>
        <label for="order_description">Order Description</label>
        <textarea name="order_description" id="order_description" value="{{ request.form['order_description'] or order['order_description'] }}" required></textarea>
        <label for="order_from">Order From</label>
        <select name="order_from" id="order_from" value="{{ request.form['order_from'] or order['order_from'] }}" required>
            <option value="mankato">Mankato</option>
            <option value="central ship">Central Ship</option>
            <option value="hillman">Hillman</option>
            <option value="other">Other</option>
          </select>
        <label for="promised">Promised</label>
        <input name="promised" id="promised" type="date" value="{{ request.form['promised'] or order['promised'] }}">
        <input type="submit" value="Save">
    </form>
    <hr>
    <form action="{{ url_for('orders.delete', id = order['id']) }}" method="POST">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}