{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Ticket{% endblock %}</h1>
  <div class="about">Customer #{{ id }}</div>
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.tickettype) }}
      {{ render_field(form.ticketdescription) }}
      {{ render_field(form.ticketstatus) }}
      {{ render_field(form.promised) }}
      {{ render_field(form.notes) }}
    </dl>
  </form>
{% endblock %}
