{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Send Out{% endblock %}</h1>
  <div class="about">Ticket #{{ id }}</div>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="sentoutlocation">Sent Out Location</label>
        <select name="sentoutlocation" id="sentoutlocation" value="{{ request.form['sentoutlocation'] }}" required>
          <option value="omega">Omega</option>
          <option value="sharpening_jim">Sharpening(Jim)</option>
        </select>
        <label for="sentoutnotes">Notes</label>
        <textarea name="sentoutnotes" id="sentoutnotes" value="{{ request.form['sentoutnotes'] }}"></textarea>
        <input type="submit" value="Save">
    </form>
{% endblock %}