{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Tickets{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('tickets.customer_landing') }}">New Ticket</a>
    <a class="action" href="{{ url_for('tickets.options') }}">Options</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for ticket in tickets %}
    <article class="ticket">
        <header>
            <ul>
              <li style="display: inline-block;">
                <h3>#{{ ticket['id'] }} | {{ ticket['last_name'] }} | </h3>
              </li>
              <li style="display: inline-block;">
                <a class="action" href="{{ url_for('tickets.view', id=ticket['id']) }}">View</a>
              </li>
              <li style="display: inline-block;">
                <a class="action" href="{{ url_for('tickets.update', id=ticket['id']) }}">Update</a>
              </li>
              <li style="display: inline-block;">
                <a class="action" href="{{ url_for('tickets.sendout', id=ticket['id']) }}">Send Out</a>
              </li>
              <li style="display: inline-block;">
                <a class="action" href="{{ url_for('tickets.complete', id=ticket['id']) }}">Complete</a>
              </li>
            </ul>
        </header>
        <ul>
          <li style="display: inline-block;"> Phone: {{ ticket['phone'] }} | </li>
          <li style="display: inline-block;"> Type: {{ ticket['ticket_type'] }} | </li>
          <li style="display: inline-block;"> Status: {{ ticket['ticketstatus'] }} | </li>
      </ul>
    </article>
    {% if not loop.last %}
        <hr>
    {% endif %}
  {% endfor %}
{% endblock %}