{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ ticket['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% from "_formhelpers.html" import render_field %}
  <form method=post>
    <dl>
      {{ render_field(form.tickettype) }}
      {{ render_field(form.ticketdescription) }}
      {{ render_field(form.ticketstatus) }}
      {{ render_field(form.promised) }}
      {{ render_field(form.notes) }}
    </dl>
  </form>
  <hr>
  <form action="{{ url_for('tickets.delete', id = ticket['id']) }}" method="POST">
      <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}