{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Rental Items{% endblock %}</h1>
  {% if g.user %}
    <a class="action" href="{{ url_for('rentals.createitem') }}">New Rental Item</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for r in rentalitems %}
    <article class="rentalitem">
        <header>
            <div>
                <h2>{{ r['id'] }} | {{ r['item_name'] }}</h2>
            </div>
            {% if g.user %}
            <a class="action" href="{{ url_for('rentals.update', id=r['id']) }}">Edit</a>
            {% endif %}
        </header>
        <div class="about">sku: {{ r['sku'] }}</div>
        <div class="about">Item Description: {{ r['item_description'] }}</div>
    </article>
    {% if not loop.last %}
        <hr>
    {% endif %}
  {% endfor %}
{% endblock %}