{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ customer['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.address) }}
        {{ render_field(form.phone) }}
        {{ render_field(form.email) }}
        </dl>
    </form>
    <hr>
    <form action="{{ url_for('customers.delete', id = customer['id']) }}" method="POST">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}